<!DOCTYPE html>
<html>
	<head>
		<title>Output</title>
	</head>
	<body>
		<%- htmlContent %>
	</body>
	<script type="text/javascript" src="js/vendor/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" language="Javascript<%- jsVersion %>">
		<%- jsContent %>
	</script>
</html>